<!DOCTYPE html>
<html>
<head>
    <% include templates/head.ejs %>
</head>
<body>
<div class="container">
    <% include templates/header.ejs %>
    <div  class="colDecor">
        <legend><h3>About</h3></legend>
    </div>
</div>
</body>
</html>