<!DOCTYPE html>
<html>
  <head>
    <% include templates/head.ejs %>
  </head>
  <body>
    <div class="container">
      <% include templates/header.ejs %>
      <div  class="main colDecor">
        <legend><h3>Welcome to <%= title %></h3></legend>
        <p>Welcome to the University of Texas at Arlington Wrestling Club page. </p>
      </div>
      <aside class="colDecor">
        <div>Feed</div>
        <p>This is where the twitter facebook feed would go.</p>
      </aside>
    </div>
  </body>
</html>
