<!DOCTYPE html>
<html>
<head>
    <% include templates/head.ejs %>
</head>
<body>
    <div class="container">
        <% include templates/header.ejs %>
        <div  class="colDecor">
            <legend><h3>Active Wrestlers</h3></legend>
            <legend><h3>Former Wrestlers</h3></legend>
        </div>
    </div>
</body>
</html>
