<footer role="contentinfo">
   <div class="container">
       <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
       <script type="IN/MemberProfile" data-id="https://www.linkedin.com/pub/ryan-heard/104/b02/456"
               data-format="hover" data-related="false" data-text="Ryan Heard"></script>
   </div>
</footer>