    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script href="bootstrap/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>