    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script href="bootstrap/js/bootstrap.min.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>