<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/wrestlers">Wrestlers</a> </li>
        <li><a href="/schedule">Schedules</a></li>
    </ul>
</nav>
<br>